.body {
  user-select: none;
}

.appchooseDept {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usrProf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.appstatus {
  background: #00f;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  transform: scale(1);
  box-shadow: 0 0 0 0 #0becb4;
  animation: pulse 2s infinite;
}
.rsel{
  border-radius: 50px;
}
.appav {
  background: rgb(237, 187, 79);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-inline: 30px;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10 rgba(11, 236, 180, 0.459);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(11, 236, 180, 0.233);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 10 rgba(11, 236, 180, 0.233);
  }
}

.appstatusf {
  background: #00f;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  transform: scale(1);
  box-shadow: 0 0 0 0 #0becb4;
  animation: pulsef 2s infinite;
}

@keyframes pulsef {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 8 rgba(11, 236, 180, 0.459);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(11, 236, 180, 0.233);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 8 rgba(11, 236, 180, 0.233);
  }
}

.hideMapEl {
  display: none;
}

.flash {
  border-radius: 50%;
  animation: pulset 2s infinite;
}

@keyframes pulset {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 20 rgba(7, 238, 57, 0.082);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(13, 226, 6, 0.233);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 20 rgba(36, 199, 3, 0.877);
  }
}
